@model BSB.Data.Entity.Post

@using Microsoft.AspNetCore.Identity
@inject SignInManager<BSB.Data.Entity.BSBUser> SignInManager
@inject UserManager<BSB.Data.Entity.BSBUser> UserManager

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <div class="card" style="width: 60%;">
        <div class="card-body">
                <h4 class="card-title">@Model.ByUser.FristName @Model.ByUser.LastName</h4>
                <h5 class="card-subtitle mb-2 text-muted">@Model.Topic</h5>
                <p class="card-text">@Model.Content</p>

                <form asp-controller="Posts" asp-action="Comment">
                    <textarea style="max-height:5rem; width:60%;" name="commentContent"></textarea>
                    <input type="hidden" name="postId" value="@Model.Id" />
                    <div>
                        <input type="submit" value="Comment" class="btn btn-outline-secondary" />
                    </div>
                </form>

            @if (UserManager.GetUserId(User).Equals(Model.ByUser.Id))
            {
        <div>
            <br />
            <div style="float: left">
                <a asp-controller="Posts" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-info">Edit</a>
            </div>
            <div style="float: left;margin-left: 10px">
                <a asp-controller="Posts" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>
            </div>
        </div>
            }

        </div>

        <ul class="list-group list-group-flush">
            @foreach (var comment in Model.CommentsInPost) {
                <li class="list-group-item">
                    <div class="card-body">
                        <h6 class="card-title">@comment.Comment.ByUser.UserName</h6>
                        <p class="card-text">@comment.Comment.Content</p>
                    </div>                    
                    
                    @if (UserManager.GetUserId(User).Equals(comment.Comment.ByUser.Id)) {
                        <div>
                            <a asp-controller="Posts" 
                               asp-action="DeleteComment"
                               asp-route-id="@comment.Comment.Id"
                               asp-route-postid="@comment.Post.Id"
                               class="btn btn-danger">Delete</a>
                        </div>
                    }
                    
                </li>
            }
        </ul>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
