@model IEnumerable<BSB.Data.Entity.Post>

@using Microsoft.AspNetCore.Identity
@inject SignInManager<BSB.Data.Entity.BSBUser> SignInManager
@inject UserManager<BSB.Data.Entity.BSBUser> UserManager

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container" style="text-align: center; width: 1200px">
    <h1>Book Shop & Blog</h1>
    @if (SignInManager.IsSignedIn(User))
    {
        <a class="btn btn-primary"
           asp-action="Create" style="display: inline-block">
            Create a post
        </a>
    }

    <div class="dropdown ml-3" style="display: inline-block">
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Pick a topic
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <form asp-controller="Posts" asp-action="Index">
                <input type="submit" class="dropdown-item" value="All topics" />
            </form>

            @foreach (var item in (List<string>)ViewData["Topics"])
            {
                <form asp-controller="Posts" asp-action="Index">
                    <input type="hidden" name="topic" value="@item" />
                    <input type="submit" class="dropdown-item" value="@item" />
                </form>
            }


        </div>
    </div>

</div>

<br />
<div style="width: 1200px;" class="text-center">
    @foreach (var post in Model)
    {
        <div  class="card text-center" style="width: 23rem; height: 16.5rem;  display: inline-block; margin: 3px">
            <div class="card-body">
                <h5 class="card-title">@post.ByUser.FristName @post.ByUser.LastName</h5>
                <h6 class="card-subtitle mb-2 text-muted">@post.Topic</h6>
                <p class="card-text">@post.Content</p>

                <div>
                    <div style="display: inline-block">
                        <h6>
                            @post.Likes Likes
                        </h6>
                        <a asp-action="Like" asp-route-postId="@post.Id" class="card-link btn btn-outline-secondary">Like post</a>
                    </div>
                    <div style="display: inline-block">
                        <h6>@post.CommentsInPost.Count Comments</h6>
                        <a asp-action="Details" asp-route-id="@post.Id" class="card-link btn btn-outline-secondary">View Comments</a>
                    </div>

                </div>
                <br />                @if (UserManager.GetUserId(User).Equals(post.ByUser.Id))
                {
                    <div>

                        <div style="display: inline-block">
                            <a asp-controller="Posts" asp-action="Edit" asp-route-id="@post.Id" class="btn btn-info">Edit</a>
                        </div>
                        <div style="display: inline-block">
                            <a asp-controller="Posts" asp-action="Delete" asp-route-id="@post.Id" class="btn btn-danger">Delete</a>
                        </div>
                    </div>
                }
                else
                {
                    <div style="visibility: hidden">

                        <div style="display: inline-block">
                            <a asp-controller="Posts" asp-action="Edit" asp-route-id="@post.Id" class="btn btn-info">Edit</a>
                        </div>
                        <div style="display: inline-block">
                            <a asp-controller="Posts" asp-action="Delete" asp-route-id="@post.Id" class="btn btn-danger">Delete</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    
}
    </div>


